/.vs
/handlenett-backend/web-api/HandlenettAPI/obj
/handlenett-backend/web-api/HandlenettAPI/bin/Debug/net8.0
/handlenett-backend/web-api/HandlenettAPI/.vs/HandlenettAPI
/handlenett-backend/web-api/HandlenettAPI/appsettings.Development.json
/.github/workflows/backend-api-build-deploy-azure.yml
/handlenett-backend/web-api/HandlenettAPI/HandlenettAPI.csproj.user
/handlenett-backend/web-api/HandlenettAPI/Properties/serviceDependencies.local.json.user
/handlenett-backend/web-api/HandlenettAPI/Properties/serviceDependencies.local.json
/handlenett-backend/web-api/HandlenettAPI/.vs/ProjectEvaluation
/handlenett-backend/web-api/HandlenettAPI/bin/Release/net8.0
/handlenett-backend/web-api/HandlenettAPI/Properties/PublishProfiles
/handlenett-backend/web-api/HandlenettAPI/Properties/ServiceDependencies
/handlenett-backend/web-api/HandlenettAPI/Properties/serviceDependencies.handlenett-api - Zip Deploy.json
/handlenett-backend/web-api/HandlenettAPI/Properties/serviceDependencies.handlenett-api - Zip Deploy.json.user
/handlenett-backend/web-api/HandlenettAPI/Properties/serviceDependencies.handlenett-api.json
/handlenett-backend/web-api/HandlenettAPI/Properties/serviceDependencies.handlenett-api.json.user
/handlenett-backend/web-api/HandlenettAPI/Services/SlackProfile.json
